.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.select {
  width: 100%;
  /* background: #fff; */
  /* border-radius: 0px; */
  /* height: 100%; */
  padding: 11px 19px 11px 10px;
  color: #616875;
  /* line-height: 54px; */
  border: 0;
}
.react-select__control {
  height: 70px;
  border: none !important;
}
.react-select {
  padding: 0;
}
.react-select__menu {
  height: 100%;
  /* min-height: max-content; */
}
.react-select__menu-list {
  z-index: 99999;
  height: 100%;
}
.react-select__option {
  z-index: 100000000000;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.lang {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 10px;
  margin-left:auto;
}
.dropdown {
  position: relative;
  left: 0;
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
}

.lang:hover .dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lang:hover .dropdown li {
  margin: 0;
  display: block;
  position: absolute;
  padding: 5px 0;
}
.dropdown:hover li {
  display: block;
  cursor: pointer;
}

.en {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E%3Ccircle style='fill:%23F0F0F0;' cx='256' cy='256' r='256'/%3E%3Cg%3E%3Cpath style='fill:%230052B4;' d='M52.92,100.142c-20.109,26.163-35.272,56.318-44.101,89.077h133.178L52.92,100.142z'/%3E%3Cpath style='fill:%230052B4;' d='M503.181,189.219c-8.829-32.758-23.993-62.913-44.101-89.076l-89.075,89.076H503.181z'/%3E%3Cpath style='fill:%230052B4;' d='M8.819,322.784c8.83,32.758,23.993,62.913,44.101,89.075l89.074-89.075L8.819,322.784L8.819,322.784 z'/%3E%3Cpath style='fill:%230052B4;' d='M411.858,52.921c-26.163-20.109-56.317-35.272-89.076-44.102v133.177L411.858,52.921z'/%3E%3Cpath style='fill:%230052B4;' d='M100.142,459.079c26.163,20.109,56.318,35.272,89.076,44.102V370.005L100.142,459.079z'/%3E%3Cpath style='fill:%230052B4;' d='M189.217,8.819c-32.758,8.83-62.913,23.993-89.075,44.101l89.075,89.075V8.819z'/%3E%3Cpath style='fill:%230052B4;' d='M322.783,503.181c32.758-8.83,62.913-23.993,89.075-44.101l-89.075-89.075V503.181z'/%3E%3Cpath style='fill:%230052B4;' d='M370.005,322.784l89.075,89.076c20.108-26.162,35.272-56.318,44.101-89.076H370.005z'/%3E%3C/g%3E%3Cg%3E%3Cpath style='fill:%23D80027;' d='M509.833,222.609h-220.44h-0.001V2.167C278.461,0.744,267.317,0,256,0 c-11.319,0-22.461,0.744-33.391,2.167v220.44v0.001H2.167C0.744,233.539,0,244.683,0,256c0,11.319,0.744,22.461,2.167,33.391 h220.44h0.001v220.442C233.539,511.256,244.681,512,256,512c11.317,0,22.461-0.743,33.391-2.167v-220.44v-0.001h220.442 C511.256,278.461,512,267.319,512,256C512,244.683,511.256,233.539,509.833,222.609z'/%3E%3Cpath style='fill:%23D80027;' d='M322.783,322.784L322.783,322.784L437.019,437.02c5.254-5.252,10.266-10.743,15.048-16.435 l-97.802-97.802h-31.482V322.784z'/%3E%3Cpath style='fill:%23D80027;' d='M189.217,322.784h-0.002L74.98,437.019c5.252,5.254,10.743,10.266,16.435,15.048l97.802-97.804 V322.784z'/%3E%3Cpath style='fill:%23D80027;' d='M189.217,189.219v-0.002L74.981,74.98c-5.254,5.252-10.266,10.743-15.048,16.435l97.803,97.803 H189.217z'/%3E%3Cpath style='fill:%23D80027;' d='M322.783,189.219L322.783,189.219L437.02,74.981c-5.252-5.254-10.743-10.266-16.435-15.047 l-97.802,97.803V189.219z'/%3E%3C/g%3E%3C/svg%3E%0A");
  width: 40px;
  height: 40px;
}
.fr {
  background-image: url("./assets/img/fr.png");
  background-size: contain;
  width: 40px;
  height: 40px;
}
@media (max-width: 768px) {
  .dropdown {
    position: relative !important;
    left: 0 !important;
    display: none !important;
    margin: 0 !important;
    padding: 0 !important ;
    list-style: none !important;
  }
  .lang:hover .dropdown li {
    margin: 0 !important;
    display: block !important;
    position: absolute !important;
    padding: 5px 0 !important;
  }
  .dropdown:hover li {
    display: block !important;
    cursor: pointer !important;
  }
}
